.navbar{
    padding: 15px;
}
.navbar-brand{
    font-weight: bold;
    margin-left: 50px;
    font-size: 30px;
}
.btn{
    margin-right: 50px;
}

.left{
    background-color: whitesmoke;
    margin: 0;
    align-items: center;
    margin-top: 50px;
    margin-left: -30px;
    text-align: center;
    padding: 40px 60px;
    margin-right: 100px;
    height: 250px;
    border-radius: 10px;
    width: 500px;

}

.input{
    width: 200px;
    padding-left: 30px;
    margin-left: 60px;
}


.right{
    background-color: whitesmoke;
      margin: 0;
      align-items: center;
      margin-top: 50px;
      margin-right: -120px;
      margin-left: -10px;
      text-align: center;
      padding: 20px 50px;
      height: 690px;
      border-radius: 10px;

}

.accordion{
    margin-top: 20px;
    padding: 25px 25px;
}
.accordion-item{
    padding: 10px 10px;
    margin: 15px 15px;
}
.card{
    height: 250px;
    margin-left: 40px;
}

.btn{
    margin-left: 40px;
}